<%- include('header', {title: 'Recover account', stylesheet: 'login.less'}) -%>

<div class="log-form">
	<h2>Recover accoount</h2>
	<form>
		<input type="text" title="email" placeholder="e-mail address" />
		<a type="submit" class="btn" href="/login">Resend password</a>
	</form>
</div>

<%- include('footer') -%>