<%- include('header', {title: 'Recover account', stylesheet: 'login.less'}) -%>

<div class="log-form">
	<h2>Recover accoount</h2>
	<form method="POST">
		<input class="input" type="text" name="email" placeholder="e-mail address" />
		<% if (typeof error !== 'undefined') { %>
			<div class='alert alert-danger'><%= error %></div>
		<% } %>
		<input type="submit" class="btn" value="Resend password" />
	</form>
</div>

<%- include('footer') -%>