<%- include('header', {title: 'Login', stylesheet: 'login.less'}) %>

<div class="log-form">
	<h2>Login to your account</h2>
	<form method="POST" action="">
		<input class="input" type="text" name="email" placeholder="e-mail address" />
		<input class="input" type="password" name="password" placeholder="password" />
		<% if (typeof error !== 'undefined') { %>
			<div class='alert alert-danger'><%= error %></div>
		<% } %>
		<input type="submit" class="btn" value="Login" />
		<a class="forgot" href="/forgot">Forgot password?</a><br>
		<a class="forgot" href="/register">Register a new account</a>
	</form>
</div>

<%- include('footer') %>