<%- include('header', {title: 'Map'}) -%>

<script>
    window.onclick = (event) => {
        if (event.target.id === '_popover') {
            document.getElementById('_popover').style.display = 'none'
        }
    }
</script>

<nav class="navbar navbar-dark bg-gray">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn" type="submit">Search</button>
            </form>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="btn" href="/login">Sign Out</a></li>
        </ul>
    </div>
</nav>

<div id="map">
    <script src="src/map.js"></script>
</div>

<div class="_popover" id="_popover"></div>

<%- include('footer') -%>