<%- include('header', {title: 'Map'}) -%>

<script>
    window.onclick = (event) => {
        if (event.target.id === '_popover') {
            document.getElementById('_popover').style.display = 'none'
        }
    }
</script>

<nav class="navbar navbar-dark bg-gray">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Image Location Viewer</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-brand"><i class="fa fa-user"></i> <%= typeof user === 'undefined' ? '' : user.name  %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a class="btn" href="/logout">Sign Out</a></li>
        </ul>
    </div>
</nav>

<div id="map">
    <script src="src/map.js"></script>
</div>

<div class="_popover" id="_popover"></div>

<%- include('footer') -%>