<%- include('header', {title: 'Register', stylesheet: 'login.less'}) -%>

<div class="log-form">
	<h2>Register a new account</h2>
	<form method="POST">
		<input class="input" type="text" name="email" placeholder="e-mail addresss" />
		<input class="input" type="text" name="fullname" placeholder="full name" />
		<input class="input" type="password" name="password" placeholder="password" />
		<input class="input" type="password" name="passwordagain" placeholder="password again" />
		<% if (typeof error !== 'undefined') { %>
			<div class='alert alert-danger'><%= error %></div>
		<% } %>
		<input type="submit" class="btn" value="Register" />
		<a class="forgot" href="/login">Already have an account?</a>
	</form>
</div>

<%- include('footer') -%>